<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1 class="text-align: center;">
        <%= @user.name %><br>
        <%= gravatar_for @user %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    
    <section class="stats">
      <%= render 'follow_form' if logged_in? %>
    </section>
    
    <section>
      <%= link_to "HighFive", highfive_user_path, class: "btn btn-primary" %>
    </section>
  </aside>
  
 <!-- # These are HighFives from user -->
 <div class="col-md-8">
   <!-- # These are HighFives about user -->
   <%= render 'shared/feed_recieved' %>
    <!-- # These are HighFives from user -->
   <% if @user.microposts.any? %>
     <h3>who I'm high fiving (<%= @user.microposts.count %>)</h3>
     <ol class="microposts">
       <%= render @microposts[0..2] %>
     </ol>
     <!-- #<%= will_paginate @microposts %> -->
   <% end %>
 </div>
</div>