<!-- Modal -->
<div class="modal <% if !sign_up_failure? %> fade <% end %>" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        
        <!-- Log in form Here -->
        <h1>Sign up</h1>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for (@user=User.new), :url => url_for(:controller => 'users', :action => 'create') do |f| %>
            
              
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <%= f.submit "Create my account", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <!-- To here -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>