<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>    
    <%= render 'layouts/header' %>
    <div class="container">
      <% if !log_in_failure? and !sign_up_failure? %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% elsif log_in_failure? %>
        <!-- Re-opens modal if there is a sign in error -->
        <script type="text/javascript">
          $(document).ready(function() {
            $("#logInModalButton").trigger('click');
          });
        </script>
      <% else %>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#signUpModalButton").trigger('click');
          });
        </script>
      <% end %>
      
      <%= yield %>
      
      <%= render 'layouts/footer' %>
      
      <!-- Added for modal login -->
      <%= render 'layouts/modal_login' if not logged_in? %>
      <%= render 'layouts/modal_signup' if not logged_in? %>

      
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
